## Pratibha Arjun Barsale - 50247005
## Venkata Krishnan Anantha Raman - 50246287

In [2]:
#Data Types in Python
SALARY_RAISE_FACTOR = 0.05
STATE_CODE_MAP = {'WA': 'Washington', 'TX': 'Texas'}
def update_employee_record(rec):
    old_sal = rec['salary']
    new_sal = old_sal * (1 + SALARY_RAISE_FACTOR)
    rec['salary'] = new_sal
    state_code = rec['state_code']
    rec['state_name'] = STATE_CODE_MAP[state_code]

input_data = [
    {'employee_name': 'Susan', 'salary': 100000.0,
    'state_code': 'WA'},
    {'employee_name': 'Ellen', 'salary': 75000.0,
    'state_code': 'TX'},
]
for rec in input_data:
    update_employee_record(rec)
    name = rec['employee_name']
    salary = rec['salary']
    state = rec['state_name']
    print name + ' now lives in ' + state
    print ' and makes $' + str(salary)

Susan now lives in Washington
 and makes $105000.0
Ellen now lives in Texas
 and makes $78750.0

In [7]:
#Strings
print "ABCD"[0]
print "ABCD"[0:2]
print "ABCD"[1:3]
print "ABCD"[1:]
print "ABCD"[:-1]

A
AB
BC
BCD
ABC

In [8]:
#Comment Example
# This whole line is a comment
a = 5 # and the last part of this line is too

In [27]:
#Complex Data Types - Lists
my_list = ["a ", "b ", "c "]
print my_list[0] # prints "a "
my_list[0] = "A " # changes that element of the list
my_list.append("d ") # adds new element to the end
# List elements can be ANYTHING
mixed_list = ["A ", 5.7, "B ", [1,2,3]]
print mixed_list

original_list = [1,2,3,4,5,6,7,8]
squares = [x*x for x in original_list]
squares_of_evens = [x*x for x in original_list if x%2==0]
print original_list
print squares
print squares_of_evens

my_list = ["a", "b", "c"]
print my_list
first_two_elements = my_list[:1]
print first_two_elements
last_two_elements = my_list[1:]
print last_two_elements
all_but_last_element = my_list[:-1]
print all_but_last_element

a
['A ', 5.7, 'B ', [1, 2, 3]]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 4, 9, 16, 25, 36, 49, 64]
[4, 16, 36, 64]

In [29]:
#Strings and Lists
print "ABC DEF".split()
print "ABC \tDEF".split()
print "ABC \tDEF".split(' ')
print "ABCABD".split("AB")

print ",".join(["A", "B", "C"])

start, end, count_by = 1, 7, 2
print "ABCDEFG"[start: end: count_by]

#Tuples
my_tuple = (1, 2)
print my_tuple[0] # prints 1
zeroth_field, first_field = my_tuple
print zeroth_field
print first_field

['ABC', 'DEF']
['ABC', 'DEF']
['ABC', '\tDEF']
['', 'C', 'D']
A,B,C
BDF
1
1
2

In [34]:
#Dictionaries
my_dict = {"January": 1, "February":2}
print my_dict["January"] # prints 1
my_dict["March"] = 3 # add new element
my_dict["January"] = "Start of the year" # overwrite old value
print my_dict

pairs = [("one",1), ("two",2)]
as_dict = dict(pairs)
print as_dict
same_as_pairs = as_dict.items()
print same_as_pairs

1
{'January': 'Start of the year', 'February': 2, 'March': 3}
{'two': 2, 'one': 1}
[('two', 2), ('one', 1)]

In [36]:
#Sets
s = set()
print 5 in s
s.add(5)
print 5 in s
s.add(5) # does nothing

False
True

In [43]:
#Defining Functions
def my_function(x):
    y = x+1
    x_sqrd = x*x
    return x_sqrd
five_plus_one_sqrd = my_function(5)
print five_plus_one_sqrd

def raise_value(x, n=2):
    return pow(x,n)

two_sqrd = raise_value(2)
two_cubed = raise_value(2, n=3)
print two_sqrd
print two_cubed

sqr = lambda x : x*x
five_sqrd = sqr(5)
print five_sqrd

def apply_to_evens(a_list, a_func):
    return [a_func(x) for x in a_list if x%2==0]
my_list = [1,2,3,4,5]
sqrs_of_evens = apply_to_evens(my_list, lambda x:x*x)
print sqrs_of_evens

25
4
8
25
[4, 16]

In [51]:
#For Loops and Control Structures
my_list = [1, 2, 3]
for x in my_list:
    print "the number is ", x

for key, value in my_dict.items():
    print "the value for ", key, " is ", value
    
i = 10
if i < 3:
    print "i is less than three"
elif i < 5: 
    print "i is between 3 and 5"
else: 
    print "i is greater than 5"
    
i = 0
while i < 5:
    print "i is still less than five"
    i = i+1

the number is  1
the number is  2
the number is  3
the value for  January  is  Start of the year
the value for  February  is  2
the value for  March  is  3
i is greater than 5
i is still less than five
i is still less than five
i is still less than five
i is still less than five
i is still less than five

In [52]:
#Exception Handling
try:
    lines = input_text.split("\n")
    print "tenth line was: ", lines[9]
except:
    print "There were < 10 lines"

There were < 10 lines

In [54]:
#Classes and Objects
class Dog:
    def __init__(self, name):
        self.name = name
    def respond_to_command(self, command):
        if command == self.name: self.speak()
    def speak(self):
        print "bark bark!!"

fido = Dog("fido")
fido.respond_to_command("spot") # does nothing
fido.respond_to_command("fido") # prints bark bark

bark bark!!

In [57]:
#Hashable and Unhashable Types
a = 5 # a is a hashable int
b = a # b points to a COPY of a
a = a + 1
print a
print b # b has NOT been incremented
A = [] # A is an UNhashable list
B = A # B points to the SAME list as A.
A.append(5)
print B

6
5
[5]

In [62]:
import pandas as pd
# Making data frame from a dictionary
# that maps column names to their values
df = pd.DataFrame({
"name": ["Bob", "Alex", "Jane"],
"age": [60, 25, 33]
})

print df.index # prints 0‐2, the line numbers
# Create a DataFrame containing the same data,
# but where name is the index
df_w_name_as_ind = df.set_index("name")
print df_w_name_as_ind.index # prints their names
# Get the row for Bob
bobs_row = df_w_name_as_ind.ix["Bob"]
print bobs_row["age"] # prints 60

RangeIndex(start=0, stop=3, step=1)
Index([u'Bob', u'Alex', u'Jane'], dtype='object', name=u'name')
60

C:\Users\prati\Anaconda3\envs\py27\lib\site-packages\ipykernel_launcher.py:15: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  from ipykernel import kernelapp as app

In [68]:
#Series
import pandas as pd
s = pd.Series([1,2,3]) # make Series from list
print s
print s+2
print s + pd.Series([4,4,5])

0    1
1    2
2    3
dtype: int64
0    3
1    4
2    5
dtype: int64
0    5
1    6
2    8
dtype: int64

In [71]:
#Joining and Grouping
df_w_age = pd.DataFrame({
"name": ["Tom", "Tyrell", "Claire"],
"age": [60, 25, 33]
})
df_w_height = pd.DataFrame({
"name": ["Tom", "Tyrell", "Claire"],
"height": [6.2, 4.0, 5.5]
})
joined = df_w_age.set_index("name").join(
df_w_height.set_index("name"))
print joined
print joined.reset_index()



df = pd.DataFrame({
"name": ["Tom", "Tyrell", "Claire"],
"age": [60, 25, 33],
"height": [6.2, 4.0, 5.5],
"gender": ["M", "M", "F"]
})
# use built-in aggregates
print df.groupby("gender").mean()
medians = df.groupby("gender").quantile(0.5)
# Use a custom aggregation function
def agg(ddf):
    return pd.Series({
    "name": max(ddf["name"]),
    "oldest": max(ddf["age"]),
    "mean_height": ddf["height"].mean()
    })
print df.groupby("gender").apply(agg)

        age  height
name
Tom      60     6.2
Tyrell   25     4.0
Claire   33     5.5
     name  age  height
0     Tom   60     6.2
1  Tyrell   25     4.0
2  Claire   33     5.5
         age  height
gender
F       33.0     5.5
M       42.5     5.1
        mean_height    name  oldest
gender
F               5.5  Claire      33
M               5.1  Tyrell      60